{% extends 'header.html' %}
{% load custom_filter %}
{% block title%}
Reset Password
{% endblock %}


{% block content%}

<div class="ui active dimmer" id="loading" hidden>
    <div class="ui large text loader">Loading</div>
</div>



<div class="container mt-4">

    <div class="col-lg-5 col-md-8 mx-auto ui segment p-4">
        <br>
        <p class="display-6">Reset Password</p>
        <hr>
        <div class="ui warning message" id="message" {% if not error %} hidden="true" {% endif %}>
            {{ error }}
        </div>

        {% if step1 %}
        <form class="ui form" method="POST" id="step-1" action="/reset_password_verification" >
            {% csrf_token %}

            <div class="field">
                <label>Email</label>
                <input type="email" name="email" placeholder="example@gmail.com" >
            </div>

            <button class="ui button teal btn-block" id="submitButton" type="submit">Send verification code</button>
        </form>
        {% endif %}

        {% if step2 %}
        <form class="ui form" method="POST" id="step-2" action="/verify-reset-password-code" >
            {% csrf_token %}

            <div class="field">
                <label>Verification Code</label>
                <input type="number" name="verify-code" placeholder="e.g. 198712" >
            </div>

            <button class="ui button teal btn-block" id="" type="submit">Verify code</button>
        </form>
        {% endif %}

        {% if step3 %}
        <form class="ui form" method="POST" id="step-3" action="/reset-password" >
            {% csrf_token %}

            <div class="field">
                <label>New Password</label>
                <input type="password" name="password" placeholder="******" >
            </div>
            <div class="field">
                <label>Confirm Password</label>
                <input type="password" name="repassword" placeholder="******" >
            </div>

            <button class="ui button teal btn-block" type="submit">Reset Password</button>
        </form>
        {% endif %}

    </div>
</div>


{% endblock %}